{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <div>
    팔로워 : <span id="followersCnt">{{ person.followers.all|length }}</span> / 팔로잉 : <span id="followingCnt">{{ person.followings.all|length }}</span>
  </div>

  {% if request.user != person %}
  <div>
    <form id="follow_form" data-user-id = {{ person.id }}>
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input type="submit" value="언팔로우">
      {% else %}
        <input type="submit" value="팔로우">
      {% endif %}
    </form>
  <div>
  {% endif %}

  <h2>{{ person.username }}이 작성한 모든 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 작성한 모든 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <h2>{{ person.username }}이 좋아요 한 모든 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <a href="{% url 'articles:index' %}">back</a>
  
  {% block script %}
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>>
  <script>
    window.onload = function(){
      
      const followForm = document.querySelector('#follow_form')
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value // 항상 변하는 값
      //console.log(followForm)
      console.log(csrfToken)


      followForm.addEventListener('submit', function(event){
        //console.log(event) // 확인하는 습관 들이기
        event.preventDefault()
        const userId = event.target.dataset.userId
        //console.log(userId) // 확인하는 습관 들이기
        
        axios({
          method: 'POST',
          url: `/accounts/${userId}/follow/`,
          headers: {'X-CSRFToken': csrfToken},
        })
        .then(response => {
          //console.log(userId)
          const isFollwed = response.data.is_followed
          const followBtn = document.querySelector('#follow_form > input[type=submit]')
          const followCnt = document.querySelector('#followersCnt')
          //console.log(followBtn)
          if (isFollwed == true) {
            followBtn.value = '언팔로우'
          } else {
            followBtn.value = '팔로우'
          }
          followCnt.innerText = response.data.follow_count
        })
      })
    }
</script>

{% endblock script %}

{% endblock content %}